<launch>  
   <!-- Simulator -->
   <node pkg="so3_quadrotor_simulator" type="quadrotor_simulator_so3" name="quadrotor_simulator_so3" output="screen">
     <param name="rate/odom" value="25.0"/>

     <param name="simulator/init_state_x" value="-4.0"/>
     <param name="simulator/init_state_y" value="-8.0"/>
     <param name="simulator/init_state_z" value=" 1.0"/>
     <remap from="~odom" to="drone_1/visual_slam/odom"/>
     <remap from="~cmd" to="so3_cmd"/>
     <remap from="~imu" to="drone_1/sim/imu"/>     
   </node>
 
   <!-- Controller -->  
   <node pkg="nodelet" type="nodelet" args="standalone so3_control/SO3ControlNodelet" name="so3_control" required="true" output="screen">
     <remap from="~odom" to="drone_1/visual_slam/odom"/>
     <remap from="~position_cmd" to="drone_1/position_cmd"/>
     <remap from="~motors" to="motors"/>
     <remap from="~corrections" to="corrections"/>
     <remap from="~so3_cmd" to="so3_cmd"/>
     <remap from="~imu" to="drone_1/sim/imu"/>
     <rosparam file="$(find so3_control)/config/gains_hummingbird.yaml"/>
     <rosparam file="$(find so3_control)/config/corrections_hummingbird.yaml"/>
     <param name="mass" value="0.98"/>
     <param name="use_angle_corrections " value="false"/>
     <param name="use_external_yaw "      value="false"/>
     <param name="gains/rot/z" value="1.0"/>    
     <param name="gains/ang/z" value="0.1"/>        
   </node> 
 </launch>

