<launch>
<!-- Visualization -->
   <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
     <remap from="~odom" to="drone_1/visual_slam/odom"/>
     <param name="base_frame"       value="/map"/>
     <param name="target_frame"     value="/map"/>
     <param name="color/a" value="0.8"/>    
     <param name="color/r" value="1.0"/>        
     <param name="color/g" value="0.0"/>        
     <param name="color/b" value="0.0"/>       
     <param name="covariance_scale" value="100.0"/>       
   </node>
   
   <node pkg="tf" type="static_transform_publisher" name="set_fix_frame" 
    args="1 0 0 0 0 0 1 map base_link 50" >
   </node>
   <node pkg="rviz" name="rviz" type="rviz" output="log"
      args="-d $(find environment)/config/rviz_config.rviz"/>
</launch>